name: Python Unit Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest==8.2.2
        # Install pipeline dependencies
        pip install -r pipeline/requirements.txt
        # Install functions dependencies
        pip install -r functions/submit_pipeline/requirements.txt
        pip install -r functions/storage_trigger/requirements.txt

    - name: Run tests with pytest
      run: |
        python -m pytest tests/
      env:
        PYTHONPATH: "."
